*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Century Gothic", sans-serif;
  background-color: #FFF;
}

header{
  margin-top: 4rem;
}

section{
  padding: 2rem;
}

section > div{
  text-align: center;
}

h1, h2{
  font-family: fantasy;
}

h1{
  color: #F00;
}